---
import "/src/assets/global.css";
import Image from "astro/components/Image.astro";


import imagen1 from "/src/assets/pictures/01012014_ACN3472.jpg";
import imagen2 from "/src/assets/pictures/03022026DSC05939.jpg";
import imagen3 from "/src/assets/pictures/03022026DSC06237.jpg";
import imagen4 from "/src/assets/pictures/28122025_MG_3689.jpg";
import imagen5 from "/src/assets/pictures/04022026DSC06476.jpg";
import imagen6 from "/src/assets/pictures/29122025_MKR6626.jpg";
import imagen7 from "/src/assets/pictures/05022026DSC06687.jpg";
import imagen8 from "/src/assets/pictures/04022026DSC06649.jpg";
import imagen9 from "/src/assets/pictures/05022026DSC06681.jpg";
import imagen10 from "/src/assets/pictures/03022026DSC06218.jpg";
import imagen11 from "/src/assets/pictures/10092025_MKR7434.jpg";
import imagen12 from "/src/assets/pictures/22102025_MKR0613.jpg";
import imagen13 from "/src/assets/pictures/29072025_MKR3759.jpg";
import imagen14 from "/src/assets/pictures/20260403MKR08243.jpg";
import imagen15 from "/src/assets/pictures/20260403MKR08260.jpg";
import imagen16 from "/src/assets/pictures/20260403MKR08271.jpg";
---

<section class="text-[#cacaca] my-10 md:px-20">
  <div class="columns-2 sm:columns-3 lg:columns-4 gap-x-4 gap-y-5">
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen1} alt="imagen1"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen2} alt="imagen2"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen3} alt="imagen3"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen4} alt="imagen4"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen5} alt="imagen5"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen6} alt="imagen6"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen7} alt="imagen7"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen8} alt="imagen8"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen9} alt="imagen9"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen10} alt="imagen10"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen11} alt="imagen11"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen12} alt="imagen12"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen13} alt="imagen13"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen14} alt="imagen14"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen15} alt="imagen15"/>
    </div>
    <div class="card mb-5 break-inside-avoid">
      <Image src={imagen16} alt="imagen16"/>
    </div>
  </div>
</section>
